<%- include('../includes/header.ejs') %>

<!-- -------afficher message commentaire----------- -->
<div>
  <% if(locals.message) { %>
    <h4 class="ui green message "><%-  message%></h4>
  <% }%>
</div>
<div>
  <% if(locals.alertMessage) { %>
    <h4 class="ui red message "><%- alertMessage%></h4>
  <% }%>
</div>
<!-- -------afficher article et commentaire----------- -->
<% if(locals.articles) { for(article of articles) {%>
    <div>
        <img class="ui top aligned tiny image" src="/img/<%- article.photos %>"/>
        <h2><%- article.Titre %></h2>
        <h6><%- article.auteur %></h6>
        <p><%- article.content %></p>
    </div>
    <% }}%>
    <h3>Commentaire</h3>      

  <% if(locals.comments) { for(comment of comments) {%>
    <div class="content">
          <div class="summary">
            <a><%- comment.nom %></a> a écrit le
            <div class="date">
              <%- comment.edit_at %>
            </div>
          </div>
          <div class="extra text">
              <%- comment.commentaire %>
          </div> 
      </div>
  <% }}%>


    <!-- <form method="post">
        <div class = "ui form">
            <div class="field">
                <label for="name">Name :</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="field">
                <label for="email">e-mail :</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="field">
                <label for="msg">Message :</label>
                <textarea id="msg" name="message"></textarea>
            </div>
            <button class="ui secondary button">SEND</button>
        </div>
    </form> -->
    <form class="ui reply form" method="post">
      <h4>ECRIRE UN COMMENTAIRE</h4>
      <div class="field">
        <label for="name">Name :</label>
        <input type="text" id="name" name="name">
    </div>
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui primary submit labeled icon button">
      <i class="icon edit"></i> ECRIRE UN COMMENTAIRE
    </div>
  </form>
  
<%- include('../includes/footer.ejs') %> 

